<div class="container">
	<h2>All your victories</h2>

	<!-- Loop through victories -->
	<div class="col3-group group">
	<% @statuses.each do |status| %>

	<div class="victory-item">
		<p><b><%= status.user.full_name %></b><br />
		<%= status.content %></p>
		<p><%= time_ago_in_words(status.created_at) + ' ago' %></p>

		<p><%= link_to 'Show', status %> | <%= link_to 'Edit', edit_status_path(status) %> | <%= link_to 'Delete', status, method: :delete, data: { confirm: 'Are you sure?' } %></p>
	</div>

	<% end %>
	</div>

	<%= link_to 'New victory', new_status_path, class: "primary-button" %>
</div>
