<div id="welcome">
  <div class="container">
    <div class="title">
      <h2>Don't wait for big, life-changing moments</h2>
      <span class="byline">Your small victories all add up</span>
    </div>
    <p>Small Victories is a way of simply recording all of the little successes that you have, helping you to mark life's little wins that could otherwise fall by the wayside. They'll be stored here, ready to remind you of all of the great things you've achieved should you ever need a pick-me-up.</p>

    <img src="https://placehold.it/800x600" />

  </div>
</div>


<div class="whitewrap">
  <div class="three-column container">

	<div class="title">
		<h2>It's all too easy to get bogged down with life</h2>
		<span class="byline">Don't focus on the bad; remember the many good things that happen on a daily basis</span>
	</div>

  	<ul class="flex-list">
	    <li class="flex-list-item">
	    <div class="flex-list-content">
	        <svg width="75" height="75" class="iconspacing">
			<image xlink:href="<%= image_path("icons/pink/check-square.svg") %>" src="<%= image_path("icons/pink/check-square.png") %>" width="75" height="75" alt="Ticked box icon" />
			</svg>
			<h3>Mark your tiny achievements</h3>
			<p> We often don't have the time to celebrate our achivements, but we should. Take a moment to appreciate what you've done; eat a cake; mark the occasion and log it here.</p>
	    </div>
	    </li>

	    <li class="flex-list-item">
	    <div class="flex-list-content">
	        <svg width="75" height="75" class="iconspacing">
			<image xlink:href="<%= image_path("icons/pink/favourite-heart.svg") %>" src="<%= image_path("icons/pink/favourite-heart.png") %>" width="75" height="75" alt="Heart icon" />
			</svg>
			<h3>Think positively</h3>
			<p>A lot of us suffer from <a href="http://en.wikipedia.org/wiki/Negativity_bias">negativity bias</a>, where we lend more weight to negative experiences than positive ones. Surround yourself with little bits of happiness.</p>
	    </div>
	    </li>

	    <li class="flex-list-item">
	    <div class="flex-list-content">
	        <svg width="75" height="75" class="iconspacing">
			<image xlink:href="<%= image_path("icons/pink/podium.svg") %>" src="<%= image_path("icons/pink/podium.png") %>" width="75" height="75" alt="Podium icon" />
			</svg>
			<h3>Look back over your year</h3>
			<p>We often look back at the big moments, but the little wins again often get forgotten. Small Victories can show you just how far you've come.</p>
	    </div>
	    </li>
    </ul>

  </div>
</div>