<!DOCTYPE html>
<html lang="en-gb">
<head>
  <title>Small Victories</title>
  <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300|Raleway:100,300' rel='stylesheet' type='text/css'>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <meta charset="utf-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <link rel="shortcut icon" href="favicon.ico"/>
</head>

<body>

<!-- Header -->
<header>
    <div class="container">
        <div class="logo-holder">
            <a href="./">Small Victories</a>
        </div>
        
        <div class="nav-holder">
            <a href="#menu" class="menu-link">
                <svg width="25" height="25">
                    <image xlink:href="<%= image_path("menuicon/icon-menu.svg") %>" src="<%= image_path("menuicon/icon-png2x.png") %>" width="25" height="25" alt="Menu icon" />
                </svg>
            </a>

            <nav id="menu" role="navigation">
                <ul>
                    <li><%= link_to "About", aboutpage_path %></li>
                    
                    <% if user_signed_in? %>
                      <li><%= link_to "My victories", feed_path %></li>
                      <li><%= link_to current_user.full_name, edit_user_registration_path %></li>
                      <li><%= link_to "Log out", logout_path %></li>
                    <% else %>
                      <li><%= link_to "Log in", login_path %></li>
                      <li><%= link_to "Register", register_path %></li>
                    <% end %>
                </ul>
            </nav>
        </div>
    </div>
</header>

<% flash.each do |type, message| %>
  <!-- Notifications -->
  <p class="module <%= flash_class type %> flash-notification"><%= message %></p>
<% end %>


<%= yield %>

<!-- Footer -->
<footer role="contentinfo">
    <div class="container">
        <p><small>Copyright &#169; 2014 Records Sound the Same Ltd. | <%= link_to "Credits", creditspage_path %></small></p>
    </div>
</footer>

</body>
</html>
